<div class="container">
  <div class="row">
    <div class="clearfix col-xs-6 col-sm-4 col-md-3">
      <h1><%= @artist.name %></h1>
      <img src="<%= @artist.image_url %>" class="img-thumbnail"/>
      <button type="button"  name="button" class="btn btn-primary">Detalles</button>
    </div>
    <div class="clearfix visible-xs"></div>
    
  </div>
</div>
